* {
    margin: 0;
    padding: 0;
    user-select: none;
}
header {
    position: sticky;
    padding: 20px 0 10px;
    top: 0;
    background-color: #ffff;
}
.wrapper {
    width: 100vw;
    margin: 0 auto;
}
.name-app {
    width: fit-content;
    margin: 0 auto;
    font-size: 36px;
}
.author {
    width: fit-content;
    margin: 0 auto 16px;
}
.control-area {
    display: flex;
    width: 96vw;
    justify-content: space-between;
    margin: 0 auto 12px;
}
.control-area div {
    height: 34px;
}
.control-area img {
    width: 26px;
    height: 26px;
    padding: 4px;
}
.input-area {
    width: 92%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 12px;
}
#input-word {
    width: 80%;
    outline: none;
    border: 1px solid rgb(26, 255, 0);
    border-radius: 2px;
    padding: 0 10px;
    height: 40px;
    flex-grow: 1;
}
.add-button {
    display: flex;
    padding: 2px 6px;
    align-items: center;
    border-radius: 4px;
}
.add-button img {
    width: 30px;
    height: 30px;
    justify-content: center;
}
.list-area {
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
}
.tag_button img {
    width: 18px;
    height: 18px;
    padding: 4px;
}
.content {
    flex-grow: 1;
    max-height: 26px;
    font-size: 22px;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.setting-buttons {
    display: flex;
    width: 58px;
    height: 24px;
    gap: 6px;
    justify-content: space-between;
    align-content: center;
}
.tags {
    display: flex;
    height: 24px;
    padding: 4px 0;
    align-items: center;
    margin-bottom: 6px;
}
.active {
    background-color: #f9f9f9;
    border-radius: 4px;
}
.alert {
    width: 260px;
    height: 120px;
    position: fixed;
    left: calc(50% - 130px);
    top: 28%;
    font-size: 20px;
    margin-top: 50px;
    display: none;
}
.close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -26px;
    right: 6px;
    width: 24px;
    height: 24px;
    background-color: rgb(255, 74, 68);
    border: none;
    border-radius: 2px;
}
.close img {
    width: 80%;
    height: 80%;
}
.previous {
    position: absolute;
    top: 40px;
    left: -36px;
    width: 40px;
    height: 40px;
}
.previous img {
    width: 100%;
    height: 100%;
}
.next {
    position: absolute;
    top: 40px;
    right: -36px;
    width: 40px;
    height: 40px;
}
.next img {
    width: 100%;
    height: 100%;
}
.content-alert {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to right top, #A9F1DF, #FFBBBB); */
    background-image: linear-gradient(to right top, #BFF098, #6FD6FF);
    /* background-image: linear-gradient(to right top, #C6EA8D, #FE90AF); */
    /* background-image: linear-gradient(to right top, #EA8D8D, #A890FE); */
    transition: 0.25s linear;
    border-radius: 6px;
    z-index: 9999;
}
.content-alert .front {
    position: absolute;
    width: 90%;
    height: fit-content;
    transition: 0.25s linear;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-alert .back {
    position: absolute;
    width: 90%;
    height: fit-content;
    transition: 0.25s linear;
    overflow: hidden;
    text-overflow: ellipsis;
}

